**/.deps/
**/.dirstamp
**/.libs/
*.a
*.la
*.lo
*.log
*.o
*.trs
a.out
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.*
configure
libtool
lint_flags.mk
m4/*
!m4/ax_*.m4
!m4/semantic_version.m4
stamp-h1
test/client
test/server
test/mkdirs
chroot/
