**/.deps/
**/.dirstamp
**/.libs/
*.a
*.la
*.lo
*.log
*.o
*.trs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.*
configure
libtool
lint_flags.mk
m4/
stamp-h1
test/client
test/server
